body {
    background-color: white;
  }
  
  h1 {
    color: black;
    font-size: 30px;
  }
  
  p {
    font-size: 36px;
    color: black;
  }
  
  p a {
    color: black;
  }
  
  #boba {
    color: black;
  }
  
  .font-yellow {
    color: black;
  }